* {
    font-family: 'RocknRoll One', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #e0def4;
}



body {
    display: grid;
    grid-template-columns: 5rem 1fr 5rem;
    grid-template-rows: 5rem 5rem 1fr 1rem;
    grid-template-areas: 
    'n n n'
    'h h h'
    'c c c'
    'f f f';
    width: 100vw;
    height: 100vh;
 
}

.nav {
    grid-area: n;
    text-align: center;
}

h1 {
    font-family: 'Indie Flower', cursive;
    grid-area: h;
    text-align: center;
    background-color: aliceblue;
}



.container {
    grid-area: c;
    grid-gap: 50px;
    
    text-align: center;
    position: relative;
    display:flex; 
    flex-direction: column; 
    width: 100vw;
    height: 100vh
  
}

h3, .cart-row{
    background-color: aliceblue;
}

.cart-row > span {
    background-color: aliceblue;
}

footer {
    grid-area: f;
    text-align: center;

}

@media screen and (min-width: 640px) {
 

    .shop-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap:50px;
        
    }

}